<div class="d-flex justify-content-center my-5">
  <%= profile_image(@user, 200, 200) %>
</div>
<ul class="list-group">
  <li class="list-group-item font-weight-bold">
    <%= @user.username %>
  </li>

  <li class="list-group-item">
    <%= @user.email %>
  </li>
</ul>